  Utilizar a API do ESR Data do FAS do USDA (órgão do governo dos EUA para monitorar a exportação agrícola) e desenvolver uma rotina em Python para acompanhar semanalmente as exportações dos Estados Unidos de determinada cultura para dois países, conforme abaixo:
 
# Especificações

1) Baixar histórico completo disponível na API 

2) Sistematizar um processo de atualização semanal

3) Cultura: Soja

4) Países destino: China e México

5) Tempo recomendado para o desafio: 1 hora

# OBS.:

1) Para obter uma chave da API, cadastrar na plataforma do FAS no link:
https://apps.fas.usda.gov/opendataweb/home 

2) Ler a documentação da API para atender as especificações 

3) Desenvolver uma rotina que consuma a API e disponibilize a base de dados em um
arquivo csv (formate pensando em uma forma fácil de consumir)

# Imports

In [2]:
import requests
import json 
import pandas as pd 
import datetime

# Variáveis

In [3]:
headers_dict = {"API_KEY": "3ac2f199-34ca-433a-a839-46b81be88596"}
url_countries = "https://apps.fas.usda.gov/OpenData/api/esr/countries"
url_commodities = "https://apps.fas.usda.gov/OpenData/api/esr/commodities"

# Requests

In [4]:
#Coletando os dados dos Países 
data_countries = requests.get(url=url_countries, headers=headers_dict)  
# Coletando os dados das commodities 
data_commodities = requests.get(url=url_commodities, headers=headers_dict)

# Data frame

In [5]:
df_countries = pd.read_json(data_countries.text)
df_countries.head()

   countryCode countryName               countryDescription  regionId gencCode
0            1    EUROPEAN   EUROPEAN UNION - 27                    1     None
1            2     UNKNOWN                          UNKNOWN        99      AX1
2         1010    GREENLD   GREENLAND                              11      GRL
3         1220    CANADA    CANADA                                 11      CAN
4         1610    MIGUEL    ST. PIERRE AND MIQUELON                11     None

# Checagem "informal dos dados"

In [6]:
# Checando se existe CHINA e MEXICO dentro dos dados
print('CHINA' in str(data_countries.text))
print('MEXICO' in str(data_countries.text))

True
True

# Visualização dos dados

In [7]:
str(data_countries.text)[:900]

'[{"countryCode":1,"countryName":"EUROPEAN","countryDescription":"EUROPEAN UNION - 27           ","regionId":1,"gencCode":null},{"countryCode":2,"countryName":"UNKNOWN","countryDescription":"UNKNOWN","regionId":99,"gencCode":"AX1"},{"countryCode":1010,"countryName":"GREENLD ","countryDescription":"GREENLAND                      ","regionId":11,"gencCode":"GRL"},{"countryCode":1220,"countryName":"CANADA  ","countryDescription":"CANADA                         ","regionId":11,"gencCode":"CAN"},{"countryCode":1610,"countryName":"MIGUEL  ","countryDescription":"ST. PIERRE AND MIQUELON        ","regionId":11,"gencCode":null},{"countryCode":2010,"countryName":"MEXICO  ","countryDescription":"MEXICO                         ","regionId":11,"gencCode":"MEX"},{"countryCode":2050,"countryName":"GUATMAL ","countryDescription":"GUATEMALA                      ","regionId":11,"gencCode":"GTM"},{"countryC'

# Limpando os dados 
Vide visualização dos dados acima, nota-se espaços em brancos extras que precisam ser removidos. 


Como trata-se de apenas uma coluna podemos usar o método abaixo:

In [8]:
# Tratando os dados: Removendo espaços   "  x   "  ----> "x"
df_countries["countryName"] = df_countries["countryName"].str.strip()

# Coletando os dados

In [9]:
# Pegando o country_code de China 
china_countrycode = df_countries[df_countries['countryName'] == 'CHINA']['countryCode'].iloc[0]
china_countrycode

5700

In [10]:
# Pegando o country_code de Mexico 
mexico_countrycode = df_countries[df_countries['countryName'] == 'MEXICO']['countryCode'].iloc[0]
mexico_countrycode

2010

# Analogamente, repetiremos as mesmas etapas prévias para as commodities

# Data frame

In [11]:
df_commodities = pd.read_json(data_commodities.text)
df_commodities.head()

   commodityCode  commodityName  unitId
0            101    Wheat - HRW       1
1            102    Wheat - SRW       1
2            103    Wheat - HRS       1
3            104  Wheat - White       1
4            105  Wheat - Durum       1

# Checagem "informal dos dados"

In [12]:
# Checando se existe soja dentro dos dados
print('Soybeans' in str(data_commodities.text))

True

# Visualização dos dados

In [13]:
str(data_commodities.text)[:900]

'[{"commodityCode":101,"commodityName":"Wheat - HRW","unitId":1},{"commodityCode":102,"commodityName":"Wheat - SRW","unitId":1},{"commodityCode":103,"commodityName":"Wheat - HRS","unitId":1},{"commodityCode":104,"commodityName":"Wheat - White","unitId":1},{"commodityCode":105,"commodityName":"Wheat - Durum","unitId":1},{"commodityCode":106,"commodityName":"Wheat - Mixed","unitId":1},{"commodityCode":107,"commodityName":"All Wheat","unitId":1},{"commodityCode":201,"commodityName":"Wheat Products","unitId":1},{"commodityCode":301,"commodityName":"Barley","unitId":1},{"commodityCode":401,"commodityName":"Corn","unitId":1},{"commodityCode":501,"commodityName":"Rye","unitId":1},{"commodityCode":601,"commodityName":"Oats","unitId":1},{"commodityCode":701,"commodityName":"Sorghum","unitId":1},{"commodityCode":801,"commodityName":"Soybeans","unitId":1},{"commodityCode":901,"commodityName":"Soybea'

# Coletando os dados

In [14]:
# Como aparentemente, parece tudo ok com os dados acima, logo podemos coletar diretamente sem limpar os dados
soybeans_commoditycode = df_commodities[df_commodities['commodityName'] == 'Soybeans']['commodityCode'].iloc[0]
soybeans_commoditycode

801

#  Coletando os dados das exportações de soja dos EUA para China e México

# Variáveis

In [15]:
# Definindo o ano atual 
year = (datetime.date.today()).year

In [16]:
url_china = "https://apps.fas.usda.gov/OpenData/api/esr/exports/commodityCode/" + str(soybeans_commoditycode) + "/countryCode/" + str(china_countrycode) +"/marketYear/" + str(year)

In [17]:
url_mexico = "https://apps.fas.usda.gov/OpenData/api/esr/exports/commodityCode/" + str(soybeans_commoditycode) + "/countryCode/" + str(mexico_countrycode) +"/marketYear/" + str(year)

In [18]:
link_tratado = ("https://apps.fas.usda.gov/OpenData/api/esr/exports/commodityCode/" +str(china_countrycode))
print(url_china)

https://apps.fas.usda.gov/OpenData/api/esr/exports/commodityCode/801/countryCode/5700/marketYear/2022

# Requests 
coletando os dados requeridos das exportações

In [19]:
#Coletando os dados requeridos das exportações: 
data_china = requests.get(url=url_china, headers=headers_dict)  
data_mexico = requests.get(url=url_mexico, headers=headers_dict)

# Data Frame - Exportações para a China

In [20]:
df_china = pd.read_json(data_china.text)
df_china.head()

,commodityCode,countryCode,weeklyExports,accumulatedExports,outstandingSales,grossNewSales,currentMYNetSales,currentMYTotalCommitment,nextMYOutstandingSales,nextMYNetSales,unitId,weekEndingDate
0,801,5700,0,0,9422282,1479782,764000,9422282,0,0,1,2021-09-02T00:00:00
1,801,5700,139752,139752,10227741,945267,945211,10367493,0,0,1,2021-09-09T00:00:00
2,801,5700,66207,205959,10785684,756150,624150,10991643,0,0,1,2021-09-16T00:00:00
3,801,5700,292213,498172,11269953,643412,776482,11768125,0,0,1,2021-09-23T00:00:00
4,801,5700,276793,774965,11664467,540307,671307,12439432,0,0,1,2021-09-30T00:00:00

# Data Frame - Exportações para o México

In [21]:
df_mexico =  pd.read_json(data_mexico.text)
df_mexico.head()

,commodityCode,countryCode,weeklyExports,accumulatedExports,outstandingSales,grossNewSales,currentMYNetSales,currentMYTotalCommitment,nextMYOutstandingSales,nextMYNetSales,unitId,weekEndingDate
0,801,2010,10519,10519,1509298,170263,79102,1519817,0,0,1,2021-09-02T00:00:00
1,801,2010,68670,79189,1453744,2902,13116,1532933,0,0,1,2021-09-09T00:00:00
2,801,2010,83841,163030,1455206,39114,85303,1618236,0,0,1,2021-09-16T00:00:00
3,801,2010,33913,196943,1464738,43448,43445,1661681,0,0,1,2021-09-23T00:00:00
4,801,2010,79189,276132,1406774,22817,21225,1682906,0,0,1,2021-09-30T00:00:00

# Exportando para csv

In [22]:
df_china.to_csv (r'C:\Users\guima\.ipynb_checkpoints\export_df_china.csv', index = False, header=True)

In [23]:
df_mexico.to_csv (r'C:\Users\guima\.ipynb_checkpoints\export_df_mexico.csv', index = False, header=True)

# Idéias para continuar desenvolver em uma conversa posterior

# Agendar para executar os processos acima semanalmente, e.g., toda segunda-feira às 08:00.

#  Como meu sistema operacional = Windowns; pensei em utilizar o Windowns Task Schedule, o que vc acha Vinícius ?