  Utilizar a API do ESR Data do FAS do USDA (órgão do governo dos EUA para monitorar a exportação agrícola) e desenvolver uma rotina em Python para acompanhar semanalmente as exportações dos Estados Unidos de determinada cultura para dois países, conforme abaixo:
 
# Especificações

1) Baixar histórico completo disponível na API 

2) Sistematizar um processo de atualização semanal

3) Cultura: Soja

4) Países destino: China e México

5) Tempo recomendado para o desafio: 1 hora

# OBS.:

1) Para obter uma chave da API, cadastrar na plataforma do FAS no link:
https://apps.fas.usda.gov/opendataweb/home 

2) Ler a documentação da API para atender as especificações 

3) Desenvolver uma rotina que consuma a API e disponibilize a base de dados em um
arquivo csv (formate pensando em uma forma fácil de consumir)

# Imports

In [79]:
import requests
import json 
import pandas as pd

# Variáveis

In [80]:
headers_dict = {"API_KEY": "3ac2f199-34ca-433a-a839-46b81be88596"}
url_countries = "https://apps.fas.usda.gov/OpenData/api/esr/countries"
url_commodities = "https://apps.fas.usda.gov/OpenData/api/esr/commodities"

# Requests 
 Coletando os dados dos Países

In [81]:
Data_countries = requests.get(url=url_countries, headers=headers_dict)

# Data frame

In [82]:
df = pd.read_json(Data_countries.text)
df.head()

   countryCode countryName               countryDescription  regionId gencCode
0            1    EUROPEAN   EUROPEAN UNION - 27                    1     None
1            2     UNKNOWN                          UNKNOWN        99      AX1
2         1010    GREENLD   GREENLAND                              11      GRL
3         1220    CANADA    CANADA                                 11      CAN
4         1610    MIGUEL    ST. PIERRE AND MIQUELON                11     None

# Checagem "informal dos dados"

In [83]:
# Checando se existe CHINA e MEXICO dentro dos dados
print('CHINA' in str(Data_countries.text))
print('MEXICO' in str(Data_countries.text))

True
True

# Visualização dos dados

In [84]:
str(Data_countries.text)[:900]

'[{"countryCode":1,"countryName":"EUROPEAN","countryDescription":"EUROPEAN UNION - 27           ","regionId":1,"gencCode":null},{"countryCode":2,"countryName":"UNKNOWN","countryDescription":"UNKNOWN","regionId":99,"gencCode":"AX1"},{"countryCode":1010,"countryName":"GREENLD ","countryDescription":"GREENLAND                      ","regionId":11,"gencCode":"GRL"},{"countryCode":1220,"countryName":"CANADA  ","countryDescription":"CANADA                         ","regionId":11,"gencCode":"CAN"},{"countryCode":1610,"countryName":"MIGUEL  ","countryDescription":"ST. PIERRE AND MIQUELON        ","regionId":11,"gencCode":null},{"countryCode":2010,"countryName":"MEXICO  ","countryDescription":"MEXICO                         ","regionId":11,"gencCode":"MEX"},{"countryCode":2050,"countryName":"GUATMAL ","countryDescription":"GUATEMALA                      ","regionId":11,"gencCode":"GTM"},{"countryC'

# Limpando os dados 
Vide visualização dos dados acima, nota-se espaços em brancos extras que precisam ser removidos. 


Como trata-se de apenas uma coluna podemos usar o método abaixo:

In [85]:
# Tratando os dados: Removendo espaços  strip : "  x   "  ----> "x"
df["countryName"] = df["countryName"].str.strip()

# Coletando os dados

In [86]:
# Pegando o country_code de China 
china_countryCode = df[df['countryName'] == 'CHINA']['countryCode']
china_countryCode

127    5700
Name: countryCode, dtype: int64

In [87]:
# Pegando o country_code de Mexico 
mexico_countryCode = df[df['countryName'] == 'MEXICO']['countryCode']
mexico_countryCode

5    2010
Name: countryCode, dtype: int64

# Requests 
Agora faremos o análogo para as commodities

In [89]:
Data_commodities = requests.get(url=url_commodities, headers=headers_dict)

# Data frame

In [93]:
df = pd.read_json(Data_commodities.text)
df.head(1000)

    commodityCode                                      commodityName  unitId
0             101                                        Wheat - HRW       1
1             102                                        Wheat - SRW       1
2             103                                        Wheat - HRS       1
3             104                                      Wheat - White       1
4             105                                      Wheat - Durum       1
5             106                                      Wheat - Mixed       1
6             107                                          All Wheat       1
7             201                                     Wheat Products       1
8             301                                             Barley       1
9             401                                               Corn       1
10            501                                                Rye       1
11            601                                               Oats       1
12            701                                            Sorghum       1
13            801                                           Soybeans       1
14            901                                Soybean cake & meal       1
15            902                                        Soybean Oil       1
16           1001                                           Flaxseed       1
17           1101                                        Linseed Oil       1
18           1110                                  Sunflowerseed Oil       1
19           1201                                         Cottonseed       1
20           1202                             Cottonseed cake & meal       1
21           1203                                     Cottonseed Oil       1
22           1301                                    Cotton- Am Pima       2
23           1401                      Cotton- Upland 1 1/16" & over       2
24           1402                   Cotton- Upland 1"-1 1/16" & over       2
25           1403                            Cotton- Upland under 1"       2
26           1404                                  All Upland Cotton       2
27           1498                                    Rice - LG Rough       1
28           1499                       Rice- Med, Short,Other Rough       1
29           1501                                     Rice- LG Brown       1
30           1502                       Rice- Med,Short, Other Brown       1
31           1503                          Rice - Long Grain, Milled       1
32           1504                       Rice- Med,Short,Other Milled       1
33           1505                                           All Rice       1
34           1601         Cattle Hides - Whole - Excluding Wet Blues       3
35           1602           Calf Skins - Whole - Excluding Wet Blues       3
36           1603            Kip Skins - Whole - Excluding Wet Blues       3
37           1604  Cattle Hides-Cut into Croupons, etc-excl Wet B...       4
38           1605   Cattle Hides and Skins-other-excluding Wet Blues       5
39           1606          Cattle Wet Blues-Unsplit (Whole or Sided)       4
40           1607     Cattle Wet Blues-Grain Splits (Whole or Sided)       4
41           1608     Cattle Wet Blues-Splits-Excluding Grain Splits       5
42           1701      Fresh, Chilled, or Frozen Muscle Cuts of Beef       1
43           1702      Fresh, Chilled, or Frozen Muscle Cuts of Pork       1

# Checagem "informal dos dados"

In [94]:
# Checando se existe soja dentro dos dados
print('Soybeans' in str(Data_commodities.text))

True

# Visualização dos dados

In [100]:
str(Data_commodities.text)[:900]

'[{"commodityCode":101,"commodityName":"Wheat - HRW","unitId":1},{"commodityCode":102,"commodityName":"Wheat - SRW","unitId":1},{"commodityCode":103,"commodityName":"Wheat - HRS","unitId":1},{"commodityCode":104,"commodityName":"Wheat - White","unitId":1},{"commodityCode":105,"commodityName":"Wheat - Durum","unitId":1},{"commodityCode":106,"commodityName":"Wheat - Mixed","unitId":1},{"commodityCode":107,"commodityName":"All Wheat","unitId":1},{"commodityCode":201,"commodityName":"Wheat Products","unitId":1},{"commodityCode":301,"commodityName":"Barley","unitId":1},{"commodityCode":401,"commodityName":"Corn","unitId":1},{"commodityCode":501,"commodityName":"Rye","unitId":1},{"commodityCode":601,"commodityName":"Oats","unitId":1},{"commodityCode":701,"commodityName":"Sorghum","unitId":1},{"commodityCode":801,"commodityName":"Soybeans","unitId":1},{"commodityCode":901,"commodityName":"Soybea'

# Coletando os dados

In [101]:
# Pegando a commodity_code da soja 
soybeans_commodityCode = df[df['commodityName'] == 'Soybeans']['commodityCode']
soybeans_commodityCode

13    801
Name: commodityCode, dtype: int64

   # Variáveis

In [73]:
year = 2022

In [129]:
url_china = f"https://apps.fas.usda.gov/OpenData/api/esr/exports/commodityCode/801/countryCode/5700/marketYear/2010"

In [130]:
url_mexico = f"https://apps.fas.usda.gov/OpenData/api/esr/exports/commodityCode/{soybeans_commodityCode}/countryCode/{mexico_countryCode}/marketYear/{year}"

In [131]:
Data_china = requests.get(url=url_china, headers=headers_dict)  
Data_mexico = requests.get(url=url_mexico, headers=headers_dict)

# Coletando os dados das exportações de soja dos EUA para China e México

# Data Frame

In [132]:
df = pd.read_json(Data_china.text)
df.head(50)

,commodityCode,countryCode,weeklyExports,accumulatedExports,outstandingSales,grossNewSales,currentMYNetSales,currentMYTotalCommitment,nextMYOutstandingSales,nextMYNetSales,unitId,weekEndingDate
0,801,5700,183880,183880,10174284,1513902,397902,10358164,9000,0,1,2009-09-03T00:00:00
1,801,5700,164403,348283,10473262,480667,463381,10821545,9000,0,1,2009-09-10T00:00:00
2,801,5700,0,348283,11127762,599500,654500,11476045,9000,0,1,2009-09-17T00:00:00
3,801,5700,118250,466533,11818263,872251,808751,12284796,9000,0,1,2009-09-24T00:00:00
4,801,5700,173130,639663,11864763,228766,219630,12504426,9000,0,1,2009-10-01T00:00:00
5,801,5700,369083,1008746,11679763,239357,184083,12688509,9000,0,1,2009-10-08T00:00:00
6,801,5700,540183,1548929,11881054,666006,741474,13429983,9000,0,1,2009-10-15T00:00:00
7,801,5700,1018514,2567443,11299524,341506,436984,13866967,9000,0,1,2009-10-22T00:00:00
8,801,5700,1028659,3596102,10561648,199121,290783,14157750,9000,0,1,2009-10-29T00:00:00
9,801,5700,1072231,4668333,10392906,995288,903489,15061239,9000,0,1,2009-11-05T00:00:00
10,801,5700,914451,5582784,10203127,728120,724672,15785911,9000,0,1,2009-11-12T00:00:00
11,801,5700,1835531,7418315,9227367,743161,859771,16645682,9000,0,1,2009-11-19T00:00:00
12,801,5700,723640,8141955,8816061,242473,312334,16958016,9000,0,1,2009-11-26T00:00:00
13,801,5700,1449759,9591714,7979958,589731,613656,17571672,9000,0,1,2009-12-03T00:00:00
14,801,5700,1303907,10895621,7344599,527477,668548,18240220,9000,0,1,2009-12-10T00:00:00
15,801,5700,457922,11353543,7520021,558228,633344,18873564,182501,173501,1,2009-12-17T00:00:00
16,801,5700,915030,12268573,7035446,397815,430455,19304019,283501,101000,1,2009-12-24T00:00:00
17,801,5700,641121,12909694,6846955,542999,452630,19756649,283501,0,1,2009-12-31T00:00:00
18,801,5700,985551,13895245,6389500,410634,528096,20284745,283501,0,1,2010-01-07T00:00:00
19,801,5700,859569,14754814,6230364,514643,700433,20985178,283501,0,1,2010-01-14T00:00:00
20,801,5700,875420,15630234,5635755,244160,280811,21265989,458501,175000,1,2010-01-21T00:00:00
21,801,5700,865501,16495735,5032715,165618,262461,21528450,458501,0,1,2010-01-28T00:00:00
22,801,5700,589699,17085434,4576839,55735,133823,21662273,401000,-57501,1,2010-02-04T00:00:00
23,801,5700,561153,17646587,4010974,18123,-4712,21657561,401000,0,1,2010-02-11T00:00:00
24,801,5700,666328,18312915,3522310,91985,177664,21835225,401000,0,1,2010-02-18T00:00:00
25,801,5700,646948,18959863,2874974,17513,-388,21834837,514000,113000,1,2010-02-25T00:00:00
26,801,5700,648772,19608635,2033781,19600,-192421,21642416,579000,65000,1,2010-03-04T00:00:00
27,801,5700,452538,20061173,1590301,16698,9058,21651474,969000,390000,1,2010-03-11T00:00:00
28,801,5700,283884,20345057,1304645,10547,-1772,21649702,904000,-65000,1,2010-03-18T00:00:00
29,801,5700,407005,20752062,964161,74674,66521,21716223,1125000,221000,1,2010-03-25T00:00:00
30,801,5700,188254,20940316,782252,9069,6345,21722568,1350000,225000,1,2010-04-01T00:00:00
31,801,5700,176146,21116462,672305,129883,66199,21788767,1638500,288500,1,2010-04-08T00:00:00
32,801,5700,188139,21304601,612861,128695,128695,21917462,1698500,60000,1,2010-04-15T00:00:00
33,801,5700,118129,21422730,336853,7332,-157879,21759583,2389500,691000,1,2010-04-22T00:00:00
34,801,5700,0,21422730,516870,180017,180017,21939600,2557500,168000,1,2010-04-29T00:00:00
35,801,5700,55743,21478473,537870,133743,76743,22016343,2734000,176500,1,2010-05-06T00:00:00
36,801,5700,510,21478983,597360,60000,60000,22076343,2794000,60000,1,2010-05-13T00:00:00
37,801,5700,0,21478983,657360,60000,60000,22136343,2914000,120000,1,2010-05-20T00:00:00
38,801,5700,0,21478983,657430,162,70,22136413,2914000,0,1,2010-05-27T00:00:00
39,801,5700,355,21479338,657075,0,0,22136413,2974000,60000,1,2010-06-03T00:00:00
40,801,5700,64509,21543847,591075,0,-1491,22134922,3324000,350000,1,2010-06-10T00:00:00
41,801,5700,65146,21608993,590003,64074,64074,22198996,3382000,58000,1,2010-06-17T00:00:00
42,801,5700,0,21608993,650003,60000,60000,22258996,3723000,341000,1,2010-06-24T00:00:00
43,801,5700,0,21608993,890487,173428,240484,22499480,4083000,360000,1,2010-07-01T00:00:00
44,801,5700,0,21608993,1124487,234000,234000,22733480,4309000,226000,1,2010-07-08T00:00:00
45,801,5700,131999,21740992,995575,123999,3087,22736567,4650000,341000,1,2010-07-15T00:00:00
46,801,5700,64097,21805089,1166498,235095,235020,22971587,5109000,459000,1,2010-07-22T00:00:00
47,801,5700,62632,21867721,931499,2632,-172367,22799220,5908499,799499,1,2010-07-29T00:00:00
48,801,5700,0,21867721,996499,65000,65000,22864220,7670999,1762500,1,2010-08-05T00:00:00
49,801,5700,243612,22111333,930708,121821,177821,23042041,8768301,1097302,1,2010-08-12T00:00:00

In [106]:
df_mexico =  pd.read_json(Data_mexico.text)
df_mexico.head()

ValueError: Expected object or value