  Utilizar a API do ESR Data do FAS do USDA (órgão do governo dos EUA para monitorar a exportação agrícola) e desenvolver uma rotina em Python para acompanhar semanalmente as exportações dos Estados Unidos de determinada cultura para dois países, conforme abaixo:
 
# Especificações

1) Baixar histórico completo disponível na API 

2) Sistematizar um processo de atualização semanal

3) Cultura: Soja

4) Países destino: China e México

5) Tempo recomendado para o desafio: 1 hora

# OBS.:

1) Para obter uma chave da API, cadastrar na plataforma do FAS no link:
https://apps.fas.usda.gov/opendataweb/home 

2) Ler a documentação da API para atender as especificações 

3) Desenvolver uma rotina que consuma a API e disponibilize a base de dados em um
arquivo csv (formate pensando em uma forma fácil de consumir)

# Imports

In [39]:
import requests
import json 
import pandas as pd

# Variáveis

In [40]:
headers_dict = {"API_KEY": "3ac2f199-34ca-433a-a839-46b81be88596"}
url_countries = "https://apps.fas.usda.gov/OpenData/api/esr/countries"
url_commodities = "https://apps.fas.usda.gov/OpenData/api/esr/commodities"

# Requests

In [41]:
#Coletando os dados dos Países 
Data_countries = requests.get(url=url_countries, headers=headers_dict)  
# Coletando os dados das commodities 
Data_commodities = requests.get(url=url_commodities, headers=headers_dict)

# Data frame

In [42]:
df = pd.read_json(Data_countries.text)
df.head()

   countryCode countryName               countryDescription  regionId gencCode
0            1    EUROPEAN   EUROPEAN UNION - 27                    1     None
1            2     UNKNOWN                          UNKNOWN        99      AX1
2         1010    GREENLD   GREENLAND                              11      GRL
3         1220    CANADA    CANADA                                 11      CAN
4         1610    MIGUEL    ST. PIERRE AND MIQUELON                11     None

# Checagem "informal dos dados"

In [43]:
# Checando se existe CHINA e MEXICO dentro dos dados
print('CHINA' in str(Data_countries.text))
print('MEXICO' in str(Data_countries.text))

True
True

# Visualização dos dados

In [44]:
str(Data_countries.text)[:900]

'[{"countryCode":1,"countryName":"EUROPEAN","countryDescription":"EUROPEAN UNION - 27           ","regionId":1,"gencCode":null},{"countryCode":2,"countryName":"UNKNOWN","countryDescription":"UNKNOWN","regionId":99,"gencCode":"AX1"},{"countryCode":1010,"countryName":"GREENLD ","countryDescription":"GREENLAND                      ","regionId":11,"gencCode":"GRL"},{"countryCode":1220,"countryName":"CANADA  ","countryDescription":"CANADA                         ","regionId":11,"gencCode":"CAN"},{"countryCode":1610,"countryName":"MIGUEL  ","countryDescription":"ST. PIERRE AND MIQUELON        ","regionId":11,"gencCode":null},{"countryCode":2010,"countryName":"MEXICO  ","countryDescription":"MEXICO                         ","regionId":11,"gencCode":"MEX"},{"countryCode":2050,"countryName":"GUATMAL ","countryDescription":"GUATEMALA                      ","regionId":11,"gencCode":"GTM"},{"countryC'

# Limpando os dados 
Vide visualização dos dados acima, nota-se espaços em brancos extras que precisam ser removidos. 


Como trata-se de apenas uma coluna podemos usar o método abaixo:

In [45]:
# Tratando os dados: Removendo espaços   "  x   "  ----> "x"
df["countryName"] = df["countryName"].str.strip()

# Coletando os dados

In [46]:
# Pegando o country_code de China 
china_countryCode = df[df['countryName'] == 'CHINA']['countryCode']
china_countryCode

127    5700
Name: countryCode, dtype: int64

In [47]:
# Pegando o country_code de Mexico 
mexico_countryCode = df[df['countryName'] == 'MEXICO']['countryCode']
mexico_countryCode

5    2010
Name: countryCode, dtype: int64

# Analogamente, repetiremos as mesmas etapas prévias para as commodities

# Data frame

In [48]:
df = pd.read_json(Data_commodities.text)
df.head()

   commodityCode  commodityName  unitId
0            101    Wheat - HRW       1
1            102    Wheat - SRW       1
2            103    Wheat - HRS       1
3            104  Wheat - White       1
4            105  Wheat - Durum       1

# Checagem "informal dos dados"

In [49]:
# Checando se existe soja dentro dos dados
print('Soybeans' in str(Data_commodities.text))

True

# Visualização dos dados

In [50]:
str(Data_commodities.text)[:900]

'[{"commodityCode":101,"commodityName":"Wheat - HRW","unitId":1},{"commodityCode":102,"commodityName":"Wheat - SRW","unitId":1},{"commodityCode":103,"commodityName":"Wheat - HRS","unitId":1},{"commodityCode":104,"commodityName":"Wheat - White","unitId":1},{"commodityCode":105,"commodityName":"Wheat - Durum","unitId":1},{"commodityCode":106,"commodityName":"Wheat - Mixed","unitId":1},{"commodityCode":107,"commodityName":"All Wheat","unitId":1},{"commodityCode":201,"commodityName":"Wheat Products","unitId":1},{"commodityCode":301,"commodityName":"Barley","unitId":1},{"commodityCode":401,"commodityName":"Corn","unitId":1},{"commodityCode":501,"commodityName":"Rye","unitId":1},{"commodityCode":601,"commodityName":"Oats","unitId":1},{"commodityCode":701,"commodityName":"Sorghum","unitId":1},{"commodityCode":801,"commodityName":"Soybeans","unitId":1},{"commodityCode":901,"commodityName":"Soybea'

# Coletando os dados

In [51]:
# Como aparentemente, parece tudo ok com os dados acima, logo podemos coletar diretamente sem limpar os dados
soybeans_commodityCode = df[df['commodityName'] == 'Soybeans']['commodityCode']
soybeans_commodityCode

13    801
Name: commodityCode, dtype: int64

#  Coletando os dados das exportações de soja dos EUA para China e México

#      Parâmetros necessários

In [59]:
print("O código da soja é")
soybeans_commodityCode

O código da soja é

13    801
Name: commodityCode, dtype: int64

In [60]:
print("O código da China é")
china_countryCode

O código da China é

127    5700
Name: countryCode, dtype: int64

In [61]:
print("O código do México é")
mexico_countryCode

O código do México é

5    2010
Name: countryCode, dtype: int64

# Links com os parâmetros acima

In [62]:
url_china = f"https://apps.fas.usda.gov/OpenData/api/esr/exports/commodityCode/801/countryCode/5700/marketYear/2022"

In [63]:
url_mexico = f"https://apps.fas.usda.gov/OpenData/api/esr/exports/commodityCode/801/countryCode/2010/marketYear/2022"

# Requests

In [64]:
#Coletando os dados requeridos das exportações: 
Data_china = requests.get(url=url_china, headers=headers_dict)  
Data_mexico = requests.get(url=url_mexico, headers=headers_dict)

# Data Frame - Exportações para a China

In [66]:
df = pd.read_json(Data_china.text)
df.head(10)

,commodityCode,countryCode,weeklyExports,accumulatedExports,outstandingSales,grossNewSales,currentMYNetSales,currentMYTotalCommitment,nextMYOutstandingSales,nextMYNetSales,unitId,weekEndingDate
0,801,5700,0,0,9422282,1479782,764000,9422282,0,0,1,2021-09-02T00:00:00
1,801,5700,139752,139752,10227741,945267,945211,10367493,0,0,1,2021-09-09T00:00:00
2,801,5700,66207,205959,10785684,756150,624150,10991643,0,0,1,2021-09-16T00:00:00
3,801,5700,292213,498172,11269953,643412,776482,11768125,0,0,1,2021-09-23T00:00:00
4,801,5700,276793,774965,11664467,540307,671307,12439432,0,0,1,2021-09-30T00:00:00
5,801,5700,1285471,2060436,11019009,381153,640013,13079445,0,0,1,2021-10-07T00:00:00
6,801,5700,1659520,3719956,11243894,1364746,1884405,14963850,0,0,1,2021-10-14T00:00:00
7,801,5700,1790614,5510570,10534266,591320,1080986,16044836,0,0,1,2021-10-21T00:00:00
8,801,5700,1864486,7375056,9877104,775283,1207324,17252160,0,0,1,2021-10-28T00:00:00
9,801,5700,2267748,9642804,8478638,371323,869282,18121442,0,0,1,2021-11-04T00:00:00

# Data Frame - Exportações para o México

In [68]:
df_mexico =  pd.read_json(Data_mexico.text)
df_mexico.head(10)

,commodityCode,countryCode,weeklyExports,accumulatedExports,outstandingSales,grossNewSales,currentMYNetSales,currentMYTotalCommitment,nextMYOutstandingSales,nextMYNetSales,unitId,weekEndingDate
0,801,2010,10519,10519,1509298,170263,79102,1519817,0,0,1,2021-09-02T00:00:00
1,801,2010,68670,79189,1453744,2902,13116,1532933,0,0,1,2021-09-09T00:00:00
2,801,2010,83841,163030,1455206,39114,85303,1618236,0,0,1,2021-09-16T00:00:00
3,801,2010,33913,196943,1464738,43448,43445,1661681,0,0,1,2021-09-23T00:00:00
4,801,2010,79189,276132,1406774,22817,21225,1682906,0,0,1,2021-09-30T00:00:00
5,801,2010,68881,345013,1611742,274438,273849,1956755,0,0,1,2021-10-07T00:00:00
6,801,2010,97526,442539,1524418,10832,10202,1966957,0,0,1,2021-10-14T00:00:00
7,801,2010,187615,630154,1430708,99703,93905,2060862,0,0,1,2021-10-21T00:00:00
8,801,2010,178648,808802,1409422,158471,157362,2218224,0,0,1,2021-10-28T00:00:00
9,801,2010,87270,896072,1402818,80981,80666,2298890,0,0,1,2021-11-04T00:00:00