  Utilizar a API do ESR Data do FAS do USDA (órgão do governo dos EUA para monitorar a exportação agrícola) e desenvolver uma rotina em Python para acompanhar semanalmente as exportações dos Estados Unidos de determinada cultura para dois países, conforme abaixo:
 
# Especificações

1) Baixar histórico completo disponível na API 

2) Sistematizar um processo de atualização semanal

3) Cultura: Soja

4) Países destino: China e México

5) Tempo recomendado para o desafio: 1 hora

# OBS.:

1) Para obter uma chave da API, cadastrar na plataforma do FAS no link:
https://apps.fas.usda.gov/opendataweb/home 

2) Ler a documentação da API para atender as especificações 

3) Desenvolver uma rotina que consuma a API e disponibilize a base de dados em um
arquivo csv (formate pensando em uma forma fácil de consumir)

# Imports

In [195]:
import requests
import json 
import pandas as pd 
import datetime

# Variáveis

In [196]:
headers_dict = {"API_KEY": "3ac2f199-34ca-433a-a839-46b81be88596"}
url_countries = "https://apps.fas.usda.gov/OpenData/api/esr/countries"
url_commodities = "https://apps.fas.usda.gov/OpenData/api/esr/commodities"

# Requests

In [197]:
#Coletando os dados dos Países 
data_countries = requests.get(url=url_countries, headers=headers_dict)  
# Coletando os dados das commodities 
data_commodities = requests.get(url=url_commodities, headers=headers_dict)

# Data frame

In [198]:
df_countries = pd.read_json(data_countries.text)
df_countries.head()

   countryCode countryName               countryDescription  regionId gencCode
0            1    EUROPEAN   EUROPEAN UNION - 27                    1     None
1            2     UNKNOWN                          UNKNOWN        99      AX1
2         1010    GREENLD   GREENLAND                              11      GRL
3         1220    CANADA    CANADA                                 11      CAN
4         1610    MIGUEL    ST. PIERRE AND MIQUELON                11     None

# Checagem "informal dos dados"

In [199]:
# Checando se existe CHINA e MEXICO dentro dos dados
print('CHINA' in str(data_countries.text))
print('MEXICO' in str(data_countries.text))

True
True

# Visualização dos dados

In [200]:
str(data_countries.text)[:900]

'[{"countryCode":1,"countryName":"EUROPEAN","countryDescription":"EUROPEAN UNION - 27           ","regionId":1,"gencCode":null},{"countryCode":2,"countryName":"UNKNOWN","countryDescription":"UNKNOWN","regionId":99,"gencCode":"AX1"},{"countryCode":1010,"countryName":"GREENLD ","countryDescription":"GREENLAND                      ","regionId":11,"gencCode":"GRL"},{"countryCode":1220,"countryName":"CANADA  ","countryDescription":"CANADA                         ","regionId":11,"gencCode":"CAN"},{"countryCode":1610,"countryName":"MIGUEL  ","countryDescription":"ST. PIERRE AND MIQUELON        ","regionId":11,"gencCode":null},{"countryCode":2010,"countryName":"MEXICO  ","countryDescription":"MEXICO                         ","regionId":11,"gencCode":"MEX"},{"countryCode":2050,"countryName":"GUATMAL ","countryDescription":"GUATEMALA                      ","regionId":11,"gencCode":"GTM"},{"countryC'

# Limpando os dados 
Vide visualização dos dados acima, nota-se espaços em brancos extras que precisam ser removidos. 


Como trata-se de apenas uma coluna podemos usar o método abaixo:

In [201]:
# Tratando os dados: Removendo espaços   "  x   "  ----> "x"
df_countries["countryName"] = df_countries["countryName"].str.strip()

# Coletando os dados

In [202]:
# Pegando o country_code de China 
china_countrycode = df_countries[df_countries['countryName'] == 'CHINA']['countryCode'].iloc[0]
china_countrycode

5700

In [203]:
# Pegando o country_code de Mexico 
mexico_countrycode = df_countries[df_countries['countryName'] == 'MEXICO']['countryCode'].iloc[0]
mexico_countrycode

2010

# Analogamente, repetiremos as mesmas etapas prévias para as commodities

# Data frame

In [204]:
df_commodities = pd.read_json(data_commodities.text)
df_commodities.head()

   commodityCode  commodityName  unitId
0            101    Wheat - HRW       1
1            102    Wheat - SRW       1
2            103    Wheat - HRS       1
3            104  Wheat - White       1
4            105  Wheat - Durum       1

# Checagem "informal dos dados"

In [205]:
# Checando se existe soja dentro dos dados
print('Soybeans' in str(data_commodities.text))

True

# Visualização dos dados

In [206]:
str(data_commodities.text)[:900]

'[{"commodityCode":101,"commodityName":"Wheat - HRW","unitId":1},{"commodityCode":102,"commodityName":"Wheat - SRW","unitId":1},{"commodityCode":103,"commodityName":"Wheat - HRS","unitId":1},{"commodityCode":104,"commodityName":"Wheat - White","unitId":1},{"commodityCode":105,"commodityName":"Wheat - Durum","unitId":1},{"commodityCode":106,"commodityName":"Wheat - Mixed","unitId":1},{"commodityCode":107,"commodityName":"All Wheat","unitId":1},{"commodityCode":201,"commodityName":"Wheat Products","unitId":1},{"commodityCode":301,"commodityName":"Barley","unitId":1},{"commodityCode":401,"commodityName":"Corn","unitId":1},{"commodityCode":501,"commodityName":"Rye","unitId":1},{"commodityCode":601,"commodityName":"Oats","unitId":1},{"commodityCode":701,"commodityName":"Sorghum","unitId":1},{"commodityCode":801,"commodityName":"Soybeans","unitId":1},{"commodityCode":901,"commodityName":"Soybea'

# Coletando os dados

In [207]:
# Como aparentemente, parece tudo ok com os dados acima, logo podemos coletar diretamente sem limpar os dados
soybeans_commoditycode = df_commodities[df_commodities['commodityName'] == 'Soybeans']['commodityCode'].iloc[0]
soybeans_commoditycode

801

#  Coletando os dados das exportações de soja dos EUA para China e México

# Variáveis

In [214]:
# Definindo o ano atual 
year = (datetime.date.today()).year

In [215]:
url_china = "https://apps.fas.usda.gov/OpenData/api/esr/exports/commodityCode/" + str(soybeans_commoditycode) + "/countryCode/" + str(china_countrycode) +"/marketYear/" + str(year)

In [216]:
url_mexico = "https://apps.fas.usda.gov/OpenData/api/esr/exports/commodityCode/" + str(soybeans_commoditycode) + "/countryCode/" + str(mexico_countrycode) +"/marketYear/" + str(year)

In [217]:
link_tratado = ("https://apps.fas.usda.gov/OpenData/api/esr/exports/commodityCode/" +str(china_countrycode))
print(url_china)

https://apps.fas.usda.gov/OpenData/api/esr/exports/commodityCode/801/countryCode/5700/marketYear/2022

# Requests

In [218]:
#Coletando os dados requeridos das exportações: 
data_china = requests.get(url=url_china, headers=headers_dict)  
data_mexico = requests.get(url=url_mexico, headers=headers_dict)

# Data Frame - Exportações para a China

In [222]:
df_china = pd.read_json(data_china.text)
df_china.head(10)

,commodityCode,countryCode,weeklyExports,accumulatedExports,outstandingSales,grossNewSales,currentMYNetSales,currentMYTotalCommitment,nextMYOutstandingSales,nextMYNetSales,unitId,weekEndingDate
0,801,5700,0,0,9422282,1479782,764000,9422282,0,0,1,2021-09-02T00:00:00
1,801,5700,139752,139752,10227741,945267,945211,10367493,0,0,1,2021-09-09T00:00:00
2,801,5700,66207,205959,10785684,756150,624150,10991643,0,0,1,2021-09-16T00:00:00
3,801,5700,292213,498172,11269953,643412,776482,11768125,0,0,1,2021-09-23T00:00:00
4,801,5700,276793,774965,11664467,540307,671307,12439432,0,0,1,2021-09-30T00:00:00
5,801,5700,1285471,2060436,11019009,381153,640013,13079445,0,0,1,2021-10-07T00:00:00
6,801,5700,1659520,3719956,11243894,1364746,1884405,14963850,0,0,1,2021-10-14T00:00:00
7,801,5700,1790614,5510570,10534266,591320,1080986,16044836,0,0,1,2021-10-21T00:00:00
8,801,5700,1864486,7375056,9877104,775283,1207324,17252160,0,0,1,2021-10-28T00:00:00
9,801,5700,2267748,9642804,8478638,371323,869282,18121442,0,0,1,2021-11-04T00:00:00

# Data Frame - Exportações para o México

In [223]:
df_mexico =  pd.read_json(data_mexico.text)
df_mexico.head(100)

,commodityCode,countryCode,weeklyExports,accumulatedExports,outstandingSales,grossNewSales,currentMYNetSales,currentMYTotalCommitment,nextMYOutstandingSales,nextMYNetSales,unitId,weekEndingDate
0,801,2010,10519,10519,1509298,170263,79102,1519817,0,0,1,2021-09-02T00:00:00
1,801,2010,68670,79189,1453744,2902,13116,1532933,0,0,1,2021-09-09T00:00:00
2,801,2010,83841,163030,1455206,39114,85303,1618236,0,0,1,2021-09-16T00:00:00
3,801,2010,33913,196943,1464738,43448,43445,1661681,0,0,1,2021-09-23T00:00:00
4,801,2010,79189,276132,1406774,22817,21225,1682906,0,0,1,2021-09-30T00:00:00
5,801,2010,68881,345013,1611742,274438,273849,1956755,0,0,1,2021-10-07T00:00:00
6,801,2010,97526,442539,1524418,10832,10202,1966957,0,0,1,2021-10-14T00:00:00
7,801,2010,187615,630154,1430708,99703,93905,2060862,0,0,1,2021-10-21T00:00:00
8,801,2010,178648,808802,1409422,158471,157362,2218224,0,0,1,2021-10-28T00:00:00
9,801,2010,87270,896072,1402818,80981,80666,2298890,0,0,1,2021-11-04T00:00:00
10,801,2010,123208,1019280,1315070,36394,35460,2334350,0,0,1,2021-11-11T00:00:00
11,801,2010,112671,1131951,1370576,169251,168177,2502527,0,0,1,2021-11-18T00:00:00
12,801,2010,94505,1226456,1275927,2622,-144,2502383,0,0,1,2021-11-25T00:00:00
13,801,2010,126886,1353342,1245839,98382,96798,2599181,0,0,1,2021-12-02T00:00:00
14,801,2010,137938,1491280,1185641,81115,77740,2676921,0,0,1,2021-12-09T00:00:00
15,801,2010,112721,1604001,1168044,49260,95124,2772045,0,0,1,2021-12-16T00:00:00
16,801,2010,61754,1665755,1123090,50663,16800,2788845,0,0,1,2021-12-23T00:00:00
17,801,2010,56651,1722406,1250358,184114,183919,2972764,0,0,1,2021-12-30T00:00:00
18,801,2010,107671,1830077,1330539,189246,187852,3160616,0,0,1,2022-01-06T00:00:00
19,801,2010,148798,1978875,1535473,309299,353732,3514348,0,0,1,2022-01-13T00:00:00
20,801,2010,111195,2090070,1769604,412515,345326,3859674,0,0,1,2022-01-20T00:00:00
21,801,2010,78961,2169031,2047246,401094,356603,4216277,34000,34000,1,2022-01-27T00:00:00
22,801,2010,110146,2279177,2148194,211963,211094,4427371,34000,0,1,2022-02-03T00:00:00
23,801,2010,120559,2399736,2050014,24595,22379,4449750,44000,10000,1,2022-02-10T00:00:00
24,801,2010,135438,2535174,2008488,95394,93912,4543662,91500,47500,1,2022-02-17T00:00:00
25,801,2010,81370,2616544,1990089,75949,62971,4606633,91500,0,1,2022-02-24T00:00:00
26,801,2010,75791,2692335,2057017,222695,142719,4749352,123500,32000,1,2022-03-03T00:00:00
27,801,2010,120560,2812895,1992700,59707,56243,4805595,123500,0,1,2022-03-10T00:00:00
28,801,2010,138428,2951323,1929324,76100,75052,4880647,123500,0,1,2022-03-17T00:00:00
29,801,2010,63306,3014629,1866542,669,524,4881171,177500,54000,1,2022-03-24T00:00:00
30,801,2010,74343,3088972,1821776,31317,29577,4910748,385500,208000,1,2022-03-31T00:00:00
31,801,2010,57100,3146072,1787165,26756,22489,4933237,385500,0,1,2022-04-07T00:00:00
32,801,2010,102252,3248324,1694331,11543,9418,4942655,405500,20000,1,2022-04-14T00:00:00
33,801,2010,81367,3329691,1701027,91024,88063,5030718,517500,112000,1,2022-04-21T00:00:00
34,801,2010,81682,3411373,1682983,82076,63638,5094356,535500,18000,1,2022-04-28T00:00:00
35,801,2010,89483,3500856,1614116,23344,20616,5114972,535500,0,1,2022-05-05T00:00:00
36,801,2010,141452,3642308,1488557,22781,15893,5130865,547500,12000,1,2022-05-12T00:00:00
37,801,2010,90344,3732652,1452881,57734,54668,5185533,642500,95000,1,2022-05-19T00:00:00
38,801,2010,27186,3759838,1476556,50861,50861,5236394,686500,44000,1,2022-05-26T00:00:00
39,801,2010,190203,3950041,1315557,36202,29204,5265598,696500,10000,1,2022-06-02T00:00:00
40,801,2010,184756,4134797,1189748,17430,58947,5324545,706400,9900,1,2022-06-09T00:00:00
41,801,2010,121529,4256326,1066300,12545,-1919,5322626,699778,-6622,1,2022-06-16T00:00:00
42,801,2010,72833,4329159,995298,2114,1831,5324457,699778,0,1,2022-06-23T00:00:00
43,801,2010,125332,4454491,918856,3081,48890,5373347,800778,101000,1,2022-06-30T00:00:00
44,801,2010,68892,4523383,860384,11096,10420,5383767,800778,0,1,2022-07-07T00:00:00
45,801,2010,56778,4580161,816765,13470,13159,5396926,827778,27000,1,2022-07-14T00:00:00
46,801,2010,163886,4744047,667350,15527,14471,5411397,833778,6000,1,2022-07-21T00:00:00
47,801,2010,162721,4906768,569471,17891,64842,5476239,877848,44070,1,2022-07-28T00:00:00
48,801,2010,50017,4956785,517689,271,-1765,5474474,916439,38591,1,2022-08-04T00:00:00
49,801,2010,126227,5083012,381602,2631,-9860,5464614,1081732,165293,1,2022-08-11T00:00:00
50,801,2010,0,5083012,381602,0,0,5464614,1081732,0,1,2022-08-18T00:00:00
51,801,2010,240873,5323885,154136,20838,13407,5478021,1378394,296662,1,2022-08-25T00:00:00
52,801,2010,121142,5445027,30997,1341,-1997,5476024,1488937,79546,1,2022-09-01T00:00:00

# Exportando para csv

In [224]:
#df_china.to_csv (r'C:\Users\guima\.ipynb_checkpoints\export_df_china.csv', index = False, header=True)

In [225]:
#df_mexico.to_csv (r'C:\Users\guima\.ipynb_checkpoints\export_df_mexico.csv', index = False, header=True)